html{
font-family: 'Times New Roman', Times, serif;    
}

header h1{
    font-weight:bold;
}
ul{
    display: flex;
justify-content: space-between;
}
nav{
    position: relative;
    top: 1rem;
    right: 3rem;
width: 20rem;
}

li{
        list-style: none;
}
header{
    display: flex;
    justify-content: space-between;
    margin: 0 3rem;
}
.img1{
    width:95vw;
    margin: 1rem;
}

article{
    display: flex;
}

.container{
    text-align: center;
    padding: 1rem;
    margin-right: 2rem;
    font-size: 1.4rem;
}

footer{
    background-color: black;
    color: aliceblue;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    font-size: 1.5rem;
}